Repository sncf-connect-tech/vboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: angular-forbid-$apply, angular-forbid-ngrepeat-without-trackby, angular-forbid-ngmodel-with-no-dot

angular-forbid-$apply:
  name: In AngularJS, use $digest over $apply
  language: pygrep
  entry: $apply

angular-forbid-ngrepeat-without-trackby:
  name: In AngularJS, ALWAYS use 'track by' with ng-repeat
  language: pygrep
  entry: ng-repeat(?!.*track by)

angular-forbid-ngmodel-with-no-dot:
  name: In AngularJS, "Whenever you have ng-model there's gotta be a dot in there somewhere"
  language: pygrep
  entry: ng-model="[^.]+"

Modification images logo
  vboard-front/src/main/common/vboardToolbar/scripts/vboardToolbar.js
  vboard-front/src/main/common/vboardToolbar/templates/vboardToolbar.html
  vboard-front/src/main/favicon.ico
  vboard-front/src/main/images/Collines2.png
  vboard-front/src/main/images/Collines3.png
  vboard-front/src/main/images/Collines8.png
  vboard-front/src/main/images/Nantes1.png
  vboard-front/src/main/images/Nantes2.png
  vboard-front/src/main/images/Nantes5.png
  vboard-front/src/main/images/Nantes6.png
  vboard-front/src/main/images/avatar.png
  vboard-front/src/main/images/icon-loader.svg
  vboard-front/src/main/images/logo-icon.png
  vboard-front/src/main/images/logo_vsc.jpg
Due: angular-forbid-$apply, angular-forbid-ngrepeat-without-trackby, angular-forbid-ngmodel-with-no-dot

Add $VBOARD_SUPPORT_URL optional configuration environment variable for the frontend
  CHANGELOG.md
  vboard-front/config.js
  vboard-front/src/main/common/vboardToolbar/scripts/vboardToolbar.js
  vboard-front/src/main/common/vboardToolbar/templates/vboardToolbarProfileMenu.html
Due: angular-forbid-$apply, angular-forbid-ngrepeat-without-trackby, angular-forbid-ngmodel-with-no-dot

Modification de l'icone pour employer celle eVTech
  vboard-front/src/main/favicon.ico
  vboard-front/src/main/images/logo-icon.png
Due: none

Fix pin preview description - close #88
  docker-compose.yml
  vboard-front/package-lock.json
  vboard-front/package.json
  vboard-front/src/main/common/vboardAddPinDialog/scripts/vboardAddPinDialog.js
Due: angular-forbid-$apply

Update docker-compose.yml
  docker-compose.yml
Due: none

Fix pin preview description - close #88 (#91)
  docker-compose.yml
  vboard-front/package-lock.json
  vboard-front/package.json
  vboard-front/src/main/common/vboardAddPinDialog/scripts/vboardAddPinDialog.js
Due: angular-forbid-$apply

[front][issue-87] add tempo to refresh pin call
  vboard-front/src/main/common/vboardPinboard/scripts/vboardPinboard.js
Due: angular-forbid-$apply

Code cleanup
  .travis.yml
  CONTRIBUTING.md
  docker-compose.dev.yml
  vboard-front/src/main/common/vboardPinboard/scripts/vboardPinboard.js
Due: angular-forbid-$apply

Fix: overlapping pins visual glitch - close #87 (#90)
  .travis.yml
  CONTRIBUTING.md
  docker-compose.dev.yml
  vboard-front/src/main/common/vboardPinboard/scripts/vboardPinboard.js
Due: angular-forbid-$apply

Fix buggy "More tags" button by replacing a _.pluck call by a _.map call - close #92
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
Due: angular-forbid-$apply

QA: adding eslint-plugin-lodash
  vboard-front/.eslintrc.json
  vboard-front/config.js
  vboard-front/package-lock.json
  vboard-front/package.json
  vboard-front/src/main/common/app/scripts/app.js
  vboard-front/src/main/common/app/scripts/services/vboardAuth.js
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
  vboard-front/src/main/common/vboardAddPinDialog/scripts/vboardAddPinDialog.js
  vboard-front/src/main/common/vboardComment/scripts/vboardComment.js
  vboard-front/src/main/common/vboardPin/scripts/vboardPin.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardProfil.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardTeamProfil.js
  vboard-front/src/main/common/vboardProfilRole/scripts/vboardProfilAdmin.js
  vboard-front/src/main/common/vboardProfilRole/scripts/vboardProfilNewsletter.js
  vboard-front/src/main/common/vboardToolbar/scripts/vboardToolbar.js
Due: angular-forbid-$apply

QA: adding eslint-plugin-lodash (#93)
  vboard-front/.eslintrc.json
  vboard-front/config.js
  vboard-front/package-lock.json
  vboard-front/package.json
  vboard-front/src/main/common/app/scripts/app.js
  vboard-front/src/main/common/app/scripts/services/vboardAuth.js
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
  vboard-front/src/main/common/vboardAddPinDialog/scripts/vboardAddPinDialog.js
  vboard-front/src/main/common/vboardComment/scripts/vboardComment.js
  vboard-front/src/main/common/vboardPin/scripts/vboardPin.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardProfil.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardTeamProfil.js
  vboard-front/src/main/common/vboardProfilRole/scripts/vboardProfilAdmin.js
  vboard-front/src/main/common/vboardProfilRole/scripts/vboardProfilNewsletter.js
  vboard-front/src/main/common/vboardToolbar/scripts/vboardToolbar.js
Due: angular-forbid-$apply

Update README.md
  README.md
Due: none

Create .gitattributes
  .gitattributes
Due: none

Fixing labels display - close #98
  vboard-front/Dockerfile
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
Due: angular-forbid-$apply

Fix labels display - close #98 (#99)
  vboard-front/Dockerfile
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
Due: angular-forbid-$apply

Introduced $VBOARD_ELASTICSEARCH_INDEX configuration variable
  vboard-batchs/properties/logstash.conf
  vboard-ws/src/main/resources/application.yml
Due: none

fix: vboard-front/package.json & vboard-front/package-lock.json to reduce vulnerabilities
  vboard-front/package-lock.json
  vboard-front/package.json
Due: none

fix: vboard-front/package.json, vboard-front/package-lock.json & vboard-front/.snyk to reduce vulnerabilities
  vboard-front/package.json
Due: none

fix: vboard-front/package.json, vboard-front/package-lock.json & vboard-front/.snyk to reduce vulnerabilities
  vboard-front/package-lock.json
Due: none

fix: vboard-front/package.json, vboard-front/package-lock.json & vboard-front/.snyk to reduce vulnerabilities
  vboard-front/.snyk
Due: none

fix: vboard-ws/pom.xml to reduce vulnerabilities
  vboard-ws/pom.xml
Due: none

fix: vboard-front/package.json & vboard-front/package-lock.json to reduce vulnerabilities (#107)
  vboard-front/package-lock.json
  vboard-front/package.json
Due: none

fix: vboard-ws/pom.xml to reduce vulnerabilities (#103)
  vboard-ws/pom.xml
Due: none

Version bump of the following libs: angular, jquery, keycloak
  vboard-front/package-lock.json
  vboard-front/package.json
  vboard-ws/pom.xml
Due: none

Adding a .nvmrc file to fix the CI lint step
  .nvmrc
Due: none

Using latest NodeJS version to fix the CI lint step
  .nvmrc
  .travis.yml
Due: none

Using latest NodeJS version to fix the CI lint step (#108)
  .nvmrc
  .travis.yml
Due: none

Debug: adding INFO log line to help troubleshot auth issue
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
Due: none

Updating doc: travis-ci.org -> travis-ci.com
  CONTRIBUTING.md
  README.md
Due: none

Improved AuthenticationController logging
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
Due: none

Docker: running with a non-root user
  .pre-commit-config.yaml
  .travis.yml
  docker-compose.yml
  vboard-batchs/Dockerfile
  vboard-batchs/entrypoint.sh
  vboard-front/.csslintrc
  vboard-front/Dockerfile
  vboard-ws/Dockerfile
Due: none

Path conditions:
  angular-forbid-$apply: any of: ^vboard-front.+\.js$
  angular-forbid-ngrepeat-without-trackby: any of: ^vboard-front.+\.html$
  angular-forbid-ngmodel-with-no-dot: any of: ^vboard-front.+\.html$, but not: vboard-front/src/main/common/vboardProfil.*
