Repository sncf-connect-tech/vboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: angular-forbid-$apply, angular-forbid-ngrepeat-without-trackby, angular-forbid-ngmodel-with-no-dot

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-merge-conflict
    -   id: trailing-whitespace
        args:
        - --no-markdown-linebreak-ext
    -   id: check-json
    -   id: check-yaml
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
    -   id: insert-license
        files: \.(css|java|js)$
        exclude: vboard-front/src/main/common/app/styles/module/loading.css
        args:
        - --license-filepath
        - LICENSE-short.txt
        - --comment-style
        - /*| *| */
    -   id: insert-license
        files: \.html$
        args:
        - --license-filepath
        - LICENSE-short.txt
        - --comment-style
        - <!--|  ~|  -->
# The following hook installation always end up failing due to connection issues,
# so I (Lucas) am disabling it for now.
# -   repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    # rev: v1.1.0
    # hooks:
    # -   id: markdown-toc
        # files: ^README\.md$
    # -   id: markdown-toc
        # files: ^CONTRIBUTING\.md$
# vboard-front
-   repo: local
    hooks:
    -   id: angular-forbid-$apply
        name: In AngularJS, use $digest over $apply
        language: pygrep
        entry: $apply
        files: ^vboard-front.+\.js$
    -   id: angular-forbid-ngrepeat-without-trackby
        name: In AngularJS, ALWAYS use 'track by' with ng-repeat
        language: pygrep
        entry: ng-repeat(?!.*track by)
        files: ^vboard-front.+\.html$
    -   id: angular-forbid-ngmodel-with-no-dot
        name: In AngularJS, "Whenever you have ng-model there's gotta be a dot in there somewhere"
        language: pygrep
        entry: ng-model="[^.]+"
        files: ^vboard-front.+\.html$
        exclude: vboard-front/src/main/common/vboardProfil.*

v1.2.0
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  vboard-front/bower.json
  vboard-front/package.json
  vboard-ws/pom.xml
Due: none

v1.2.0 (#76)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  vboard-front/bower.json
  vboard-front/package.json
  vboard-ws/pom.xml
Due: none

fix: vboard-ws/pom.xml to reduce vulnerabilities
  vboard-ws/pom.xml
Due: none

Adding package-lock.json
  CONTRIBUTORS.md
  vboard-front/package-lock.json
  vboard-ws/pom.xml
Due: none

Adding package-lock.json (#79)
  CONTRIBUTORS.md
  vboard-front/package-lock.json
  vboard-ws/pom.xml
Due: none

UI no more loads forever when visiting the profile URL of a non-existing user - fix #44
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  vboard-front/grunt/aliases.json
  vboard-front/package-lock.json
  vboard-front/package.json
  vboard-front/src/main/common/app/scripts/services/vboardAuth.js
  vboard-front/src/main/common/app/scripts/services/vboardMessageInterceptor.js
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
  vboard-front/src/main/common/vboardDeleteConfirm/scripts/vboardDeleteCommentDialog.js
  vboard-front/src/main/common/vboardDeletePinDialogOK/scripts/vboardDeletePinDialogOK.js
  vboard-front/src/main/common/vboardLeaderBoard/scripts/vboardLeaderBoard.js
  vboard-front/src/main/common/vboardPin/scripts/vboardPin.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardProfil.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardProfilPublic.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardTeamProfil.js
  vboard-front/src/main/common/vboardProfilRole/scripts/vboardProfilAdmin.js
  vboard-front/src/main/common/vboardProfilSearch/scripts/vboardProfilSearch.js
  vboard-front/src/main/common/vboardToolbar/scripts/vboardToolbar.js
  vboard-ws/pom.xml
  vboard-ws/src/main/java/com/vsct/vboard/config/WebSecurityConfig.java
  vboard-ws/src/main/java/com/vsct/vboard/config/cognito/AwsCognitoAuthenticationProvider.java
  vboard-ws/src/main/java/com/vsct/vboard/config/cognito/AwsCognitoECDSAKeyProvider.java
  vboard-ws/src/main/java/com/vsct/vboard/config/cognito/JsonWebTokenAuthentication.java
  vboard-ws/src/main/java/com/vsct/vboard/config/cognito/PemUtils.java
  vboard-ws/src/main/java/com/vsct/vboard/config/keycloak/KeycloakEnabledInEnv.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/GamificationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/GlobalControllerExceptionHandler.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/UsersController.java
  vboard-ws/src/main/java/com/vsct/vboard/exceptions/GlobalControllerExceptionHandler.java
  vboard-ws/src/main/java/com/vsct/vboard/exceptions/NotFoundException.java
  vboard-ws/src/main/resources/application.yml
  vboard-ws/src/test/java/com/vsct/vboard/UserControllerTest.java
Due: angular-forbid-$apply

Performing some eslint fixes
  vboard-front/.eslintrc
  vboard-front/src/main/common/app/scripts/services/vboardMessageInterceptor.js
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
  vboard-front/src/main/common/vboardComment/scripts/vboardComment.js
  vboard-front/src/main/common/vboardKonami/scripts/vboardKonami.js
  vboard-front/src/main/common/vboardNotification/scripts/vboardNotification.js
  vboard-front/src/main/common/vboardPin/scripts/vboardPin.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardProfilPublic.js
Due: angular-forbid-$apply

Suppressing Maven some logs to avoid hitting Travis CI log file size limit
  .travis.yml
Due: none

UI no more loads forever when visiting the profile URL of a non-existing user - fix #44 (#80)
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  vboard-front/.eslintrc
  vboard-front/grunt/aliases.json
  vboard-front/package-lock.json
  vboard-front/package.json
  vboard-front/src/main/common/app/scripts/services/vboardAuth.js
  vboard-front/src/main/common/app/scripts/services/vboardMessageInterceptor.js
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
  vboard-front/src/main/common/vboardComment/scripts/vboardComment.js
  vboard-front/src/main/common/vboardDeleteConfirm/scripts/vboardDeleteCommentDialog.js
  vboard-front/src/main/common/vboardDeletePinDialogOK/scripts/vboardDeletePinDialogOK.js
  vboard-front/src/main/common/vboardKonami/scripts/vboardKonami.js
  vboard-front/src/main/common/vboardLeaderBoard/scripts/vboardLeaderBoard.js
  vboard-front/src/main/common/vboardNotification/scripts/vboardNotification.js
  vboard-front/src/main/common/vboardPin/scripts/vboardPin.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardProfil.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardProfilPublic.js
  vboard-front/src/main/common/vboardProfil/scripts/vboardTeamProfil.js
  vboard-front/src/main/common/vboardProfilRole/scripts/vboardProfilAdmin.js
  vboard-front/src/main/common/vboardProfilSearch/scripts/vboardProfilSearch.js
  vboard-front/src/main/common/vboardToolbar/scripts/vboardToolbar.js
  vboard-ws/pom.xml
  vboard-ws/src/main/java/com/vsct/vboard/config/WebSecurityConfig.java
  vboard-ws/src/main/java/com/vsct/vboard/config/cognito/AwsCognitoAuthenticationProvider.java
  vboard-ws/src/main/java/com/vsct/vboard/config/cognito/AwsCognitoECDSAKeyProvider.java
  vboard-ws/src/main/java/com/vsct/vboard/config/cognito/JsonWebTokenAuthentication.java
  vboard-ws/src/main/java/com/vsct/vboard/config/cognito/PemUtils.java
  vboard-ws/src/main/java/com/vsct/vboard/config/keycloak/KeycloakEnabledInEnv.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/GamificationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/GlobalControllerExceptionHandler.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/UsersController.java
  vboard-ws/src/main/java/com/vsct/vboard/exceptions/GlobalControllerExceptionHandler.java
  vboard-ws/src/main/java/com/vsct/vboard/exceptions/NotFoundException.java
  vboard-ws/src/main/resources/application.yml
  vboard-ws/src/test/java/com/vsct/vboard/UserControllerTest.java
Due: angular-forbid-$apply

Added support for HTTPs to PinsController web crawler - close #42
  vboard-front/src/main/common/app/scripts/services/vboardMessageInterceptor.js
  vboard-front/src/main/common/vboardAddPinDialog/scripts/vboardAddPinDialog.js
  vboard-front/src/main/common/vboardAddPinDialog/templates/vboardAddPinDialog.html
  vboard-front/src/main/common/vboardDeleteConfirm/scripts/vboardDeletePinDialog.js
  vboard-front/src/main/common/vboardDeleteConfirm/templates/vboardDeletePinConfirm.html
  vboard-front/src/main/common/vboardToolbar/scripts/vboardToolbar.js
  vboard-front/src/main/common/vboardToolbar/templates/vboardToolbar.html
  vboard-ws/src/main/java/com/vsct/vboard/config/UploadsConfig.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/PinsController.java
  vboard-ws/src/main/java/com/vsct/vboard/exceptions/DuplicateContentException.java
  vboard-ws/src/main/java/com/vsct/vboard/exceptions/GlobalControllerExceptionHandler.java
  vboard-ws/src/main/java/com/vsct/vboard/services/UploadsManager.java
  vboard-ws/src/main/resources/application-dev.yml
  vboard-ws/src/main/resources/application.yml
Due: angular-forbid-$apply, angular-forbid-ngrepeat-without-trackby, angular-forbid-ngmodel-with-no-dot

Fixing per-author pin search - close #9
  vboard-front/src/main/common/app/scripts/services/vboardAuth.js
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
Due: angular-forbid-$apply

Add a permalink anchor link on pins - close #8
  vboard-front/src/main/common/app/scripts/app.js
  vboard-front/src/main/common/vboardPin/styles/vboardPin.css
  vboard-front/src/main/common/vboardPin/templates/vboardPin.html
Due: angular-forbid-$apply, angular-forbid-ngrepeat-without-trackby, angular-forbid-ngmodel-with-no-dot

Fixing backend tests
  vboard-ws/src/main/java/com/vsct/vboard/config/UploadsConfig.java
  vboard-ws/src/main/java/com/vsct/vboard/services/UploadsManager.java
  vboard-ws/src/test/java/com/vsct/vboard/NotificationsControllerTest.java
  vboard-ws/src/test/java/com/vsct/vboard/PinsControllerTest.java
Due: none

Fix attempt to solve issue with Cognito auth & getSessionUser
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/PinsController.java
Due: none

In anonymous (no-auth) mode, all users are now admin
  CHANGELOG.md
  vboard-front/src/main/common/app/scripts/services/vboardAuth.js
  vboard-front/src/main/common/app/scripts/services/vboardMessageInterceptor.js
  vboard-front/src/main/common/vboardAddPinDialog/templates/vboardAddPinDialog.html
  vboard-front/src/main/common/vboardDeleteConfirm/templates/vboardDeletePinConfirm.html
  vboard-ws/src/main/java/com/vsct/vboard/config/WebSecurityConfig.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/UsersController.java
  vboard-ws/src/main/java/com/vsct/vboard/exceptions/GlobalControllerExceptionHandler.java
  vboard-ws/src/main/java/com/vsct/vboard/models/Role.java
  vboard-ws/src/main/java/com/vsct/vboard/models/User.java
  vboard-ws/src/main/resources/application.yml
  vboard-ws/src/test/java/com/vsct/vboard/CommentControllerTest.java
  vboard-ws/src/test/java/com/vsct/vboard/GamificationControllerTest.java
Due: angular-forbid-$apply, angular-forbid-ngrepeat-without-trackby, angular-forbid-ngmodel-with-no-dot

Minor fixups & lightweight .eslintrc.json
  vboard-front/.eslintrc.json
  vboard-front/src/main/common/app/scripts/app.js
  vboard-ws/src/main/java/com/vsct/vboard/services/UploadsManager.java
Due: angular-forbid-$apply

Bugfix: envsubst source path in vboard-front/run_http_server.sh
  vboard-front/README.md
  vboard-front/package.json
  vboard-front/run_http_server.sh
Due: none

Debugging auth isAdmin issue
  .gitignore
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/CommentsController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/GamificationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/LikesController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/NotificationsController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/TeamsController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/UsersController.java
Due: none

Adding debug logs
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
Due: none

Minor fixes
  vboard-front/Dockerfile
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
Due: none

Fixing Java permission issue on getSessionUser
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
Due: none

Fixing vboard-ws tests
  vboard-ws/src/test/java/com/vsct/vboard/CommentControllerTest.java
  vboard-ws/src/test/java/com/vsct/vboard/LikesControllerTest.java
  vboard-ws/src/test/java/com/vsct/vboard/NotificationsControllerTest.java
Due: none

Fixing IncorrectResultSizeDataAccessException in addNewPin
  vboard-ws/src/main/java/com/vsct/vboard/DAO/PinDAO.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/PinsController.java
Due: none

Debug: adding tracing logs
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
Due: none

Fix & cleanup: getting rid of .getSessionUserWithSyncFromDB()
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/CommentsController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/GamificationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/LikesController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/MessagesController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/PinsController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/SavedPinController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/UsersController.java
  vboard-ws/src/main/java/com/vsct/vboard/models/User.java
  vboard-ws/src/test/java/com/vsct/vboard/NotificationsControllerTest.java
  vboard-ws/src/test/java/com/vsct/vboard/PinsControllerTest.java
  vboard-ws/src/test/java/com/vsct/vboard/UserControllerTest.java
Due: none

Debug: adding warn logs when user differ
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
Due: none

Minor log improvement
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
Due: none

Introducing $ELS_LOG_LEVEL
  vboard-front/src/main/common/app/scripts/services/vboardMessageInterceptor.js
  vboard-front/src/main/common/vboardAddPinDialog/templates/vboardAddPinDialog.html
  vboard-front/src/main/common/vboardDeleteConfirm/templates/vboardDeletePinConfirm.html
  vboard-ws/src/main/java/com/vsct/vboard/services/ElasticSearchClient.java
  vboard-ws/src/main/resources/application.yml
Due: angular-forbid-$apply, angular-forbid-ngrepeat-without-trackby, angular-forbid-ngmodel-with-no-dot

Fixing "Variable [pinUpdate] is not defined" error in updatePin
  vboard-ws/src/main/java/com/vsct/vboard/services/ElasticSearchClient.java
Due: none

Renamed `$VBOARD_WP_PUBLIC_HOST` configuration environment variable into `$VBOARD_BLOG_URL`
  CHANGELOG.md
  docker-compose.yml
  vboard-front/config.js
  vboard-front/httpd.conf
Due: angular-forbid-$apply

Minor wording improvements
  vboard-front/src/main/common/vboardToolbar/templates/vboardToolbarProfileMenu.html
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
Due: angular-forbid-ngrepeat-without-trackby, angular-forbid-ngmodel-with-no-dot

Introducing $CONTROLLERS_LOG_LEVEL
  vboard-ws/src/main/resources/application.yml
Due: none

Search by label is now correctly done by the backend - close #37
  CHANGELOG.md
  vboard-batchs/Dockerfile
  vboard-batchs/entrypoint.sh
  vboard-front/.eslintrc.json
  vboard-front/src/main/common/app/scripts/services/vboardPinsCollectionService.js
  vboard-ws/src/main/java/com/vsct/vboard/controllers/AuthenticationController.java
  vboard-ws/src/main/java/com/vsct/vboard/controllers/PinsController.java
  vboard-ws/src/main/java/com/vsct/vboard/services/ElasticSearchClient.java
  vboard-ws/src/main/java/com/vsct/vboard/services/UploadsManager.java
Due: angular-forbid-$apply

Fixing backend unit tests
  vboard-ws/src/main/java/com/vsct/vboard/config/UploadsConfig.java
  vboard-ws/src/main/java/com/vsct/vboard/services/UploadsManager.java
  vboard-ws/src/test/java/com/vsct/vboard/NotificationsControllerTest.java
  vboard-ws/src/test/java/com/vsct/vboard/PinsControllerTest.java
Due: none

Pleasing Findbugs
  vboard-ws/src/main/java/com/vsct/vboard/services/UploadsManager.java
Due: none
